


/*start Variables*/
:root {
	--background-color-one: #f6f6f6;
	--background-color-two: #10cab7;
	--background-color-three: #2c4856;
	
	--font-color-one: #ebecee;
	--font-color-two: #797979;
	--font-color-three: #444;
	
	--section-padding: 60px;
	--basic-duration: 0.5s;
	--line-height: 1.8;
	
}
/*End Variables*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Global  Rules*/
*{
	font-family: "Work Sans", arial;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
}
/*End Global  Rules*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Component*/
.center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.special-title {
	color: var(--font-color-one);
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	text-align: center;
	margin: 0;
}
.special-title + p {
	color: var(--font-color-two);
	font-size: 20px;
	text-align: center;
	margin-top: -30px;
}
@media (max-width: 400px) {
	.special-title {
		font-size: 80px;
	}
}
/*End Component*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Header*/
header {
	padding-top: 5px;
	padding-bottom: 5px;
}
header  p {
	margin: 0;
	font-size: 40px;
	font-weight: 800;
	color: var(--background-color-three);
	display: inline-block;
}
header  img {
	display: inline-block;
	float: right;
	width: 70px;
}
/*End Header*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start nav*/
nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--background-color-three)
}
nav ul {
	margin:0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
nav ul li {
	padding: 15px
}
nav ul li:hover {
	background-color: var(--background-color-two)
}
nav ul a {
	color: #fff;
	width: 100%;
	text-align: center;
	text-decoration: none;
}
@media (max-width: 400px) {
	nav ul {
		display: flex;
		flex-direction: column;
	}
}
/*End nav*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Landing*/
.landing {
	height: calc(100vh - 104px);
	background-size: cover;
	/*background-attachment: fixed;*/
	background-image: url(../images/landing.jpg);
}
.landing h1 {
	margin: 0;
	font-size: 50px;
	text-align: center;
	color: var(--background-color-two);
}
.landing p {
	width: 320px;
	font-size: 20px;
	line-height: var(--line-height);
	text-align: center;
}
/*End Landing*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Features*/
.features {
	padding-top: var(--section-padding);
	padding-bottom: calc(var(--section-padding) - 20px);
	background-color: var(--background-color-one);
}
.features .feat {
	width: 300px;
	padding-top:25px;
	padding-bottom:25px;
	text-align: center;
	position: relative;
}
.features .feat i {
	color: var(--background-color-two);
	font-size: 100px;
}
.features .feat p {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	height: 0;
	
	overflow: hidden;
	font-size: 18px;
	color: var(--font-color-three);
	line-height: var(--line-height);
	background-color: var(--background-color-two);
	
	position: absolute;
	top: -10px; 
	left: 0;

	-webkit-transition: var(--basic-duration);
	-moz-transition: var(--basic-duration);
	-ms-transition: var(--basic-duration);
	-o-transition: var(--basic-duration);
	transition: var(--basic-duration);
}
.features .feat:hover p {
	height: 200px;
}
/*End Features*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Services*/
.Services {
	margin-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.Services .content {
	margin-top: var(--section-padding);
}
.Services .column:first-child {
	flex-basis: 800px;
}
.Services .column .service{
	flex-basis: 400px;
}
.Services .column i {
	color: var(--background-color-two);
}
.Services .column .info {
	margin-bottom: 40px;
	flex-basis: 320px;
}
.Services .column .info h3 {
	margin-top: 5px;
	position: relative;
}
.Services .column .info h3:after {
	content: "";
	width: 0;
	height: 2px;
	background-color: var(--background-color-two);
	
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	
	-webkit-transition: var(--basic-duration);
	-moz-transition: var(--basic-duration);
	-ms-transition: var(--basic-duration);
	-o-transition: var(--basic-duration);
	transition: var(--basic-duration);
}
.Services .column .service:hover h3:after {
	width: 60%;
}
.Services .column .info p {
	color: var(--font-color-three);
	line-height: var(--line-height);
}
.Services .column .image {
	width: 260px;
	position: relative;
}
.Services .column .image:after {
	content: "";
	width: 100px;
	height: calc(100% + 80px);
	background-color: var(--background-color-three);
	
	position: absolute;
	top: -40px;
	right: -50px;
	z-index: -1;
}
.Services .column .image img {
	width: 100%;
}
@media (max-width: 1100px){
	.Services .column:last-child {
		display: none;
	}
}
@media (max-width: 400px){
	.Services .column .info {
		text-align: center;
	}
	.Services .column .info h3:after {
		left: 50%;
		
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
	.Services .column .service:hover h3:after {
		width: 60%;
	}
}
/*End Services*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Portfolio*/
.portfolio {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-color: var(--background-color-one);
}
.portfolio .card {
	max-width: 320px;
	background-color: #fff;
	
	-webkit-transition: var(--basic-duration);
	-moz-transition: var(--basic-duration);
	-ms-transition: var(--basic-duration);
	-o-transition: var(--basic-duration);
	transition: var(--basic-duration);	
}
.portfolio .card:hover {
	-moz-box-shadow: 0 0 7px 3px #aaa;
	-ms-box-shadow: 0 0 7px 3px #aaa;
	-o-box-shadow: 0 0 7px 3px #aaa;
	box-shadow: 0 0 7px 3px #aaa;
	
	-webkit-transform: scale(1.0625);
	-moz-transform: scale(1.0625);
	-ms-transform: scale(1.0625);
	-o-transform: scale(1.0625);
	transform: scale(1.0625);
}
.portfolio .card img {
	width: 100%;
}
.portfolio .card .info {
	padding: 20px;
}
.portfolio .card .info h3 {
	margin: 0;
}
.portfolio .card .info p{
	color: var(--font-color-two);
	line-height: 1.6;
	margin-bottom: 0;
	margin-top: 10px;
}
/*End Portfolio*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start About*/
.about {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.about .content {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.about .content .image {
	text-align: center;
	position: relative;
}
.about .content .image  img{
	width: 250px;
	height: 375px;
}
.about .content .image:before {
	content: "";
	width: 100px;
	height: calc(100% + 80px);
	background-color: var(--font-color-one);
	
	position: absolute;
	top: -40px;
	left: -20px;
	z-index: -1;
}
.about .content .image:after {
	content: "";
	width: 100px;
	height: 300px;
	border-left: 80px solid var(--background-color-two);
	border-bottom: 80px solid var(--background-color-two);
	
	position: absolute;
	top: -40px;
	left: 200px;
	z-index: -1;
}
.about .content .info {
	margin-left: 110px;
	flex-basis: calc(100% - 500px)
}
.about .content .info p{
	line-height: var(--line-height);
}
.about .content .info p:first-child {
	font-weight: bold;
	margin-bottom: 50px;
}
.about .content .info p:last-child {
	color: #777;
}
.about .content .info hr {
	margin: 0;
	width: 50%;
	display: inline-block;
	border-color: var(--background-color-two);
}

@media (max-width: 991px) {
	.about .content {
		flex-direction: column;
		justify-content: center;
	}
	.about .content .info {
		margin-left: 0;
		text-align: center;
	}
	.about .content .info hr {
		margin: 0 auto;
	}
	.about .content .image:before {
		display: none;
	}
	.about .content .image:after {
		display: none;
	}
}
/*End About*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Contact*/
.contact {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-color: var(--background-color-one);
	text-align: center;
}
.contact .content {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.contact .content p {
	margin-top: 0;
	margin-bottom: 15px;
	
	font-size: 36px;
	font-weight: 800;
	letter-spacing: -2px;
	color: var(--background-color-three);
}
.contact .content a {
	margin-top: 0;
	margin-bottom: 15px;
	
	font-size: 36px;
	font-weight: 800;
	color: var(--background-color-two);
	
	display: inline-block;
	text-decoration: none;
}
@media (max-width: 400px){
	.contact .content a {
		font-size: 20px;
	}
}
.contact .content .social i {
	margin-left: 5px;
	color: var(--background-color-three);
}
/*End Contact*/
/*--------------------------------------------------------------------------------------------------------------*/

/*start Footer*/
footer {
	color: #fff;
	font-size: 18px;
	padding: 12px;
	text-align: center;
	background-color: var(--background-color-three);
}
footer span {
	color: var(--background-color-two);
	font-weight: bold;
}
/*End Footer*/
/*--------------------------------------------------------------------------------------------------------------*/